<main class="container">

    <div class="row">
        <div class="firstpic col-md-6 clearfix">
            <a href="/home" class="pull-left">HOME</a>
            <span class="pull-right"><a href="/favorites" >FAVORITES ( {{ main.favoriteCount }} )</a></span>
            <img ng-src="{{main.random}}" />
        </div>
        <div class="col-md-6">
            <h3>Get Another GIF!</h3>
            <div class="input-group pull-right">
                <input type="text" class="form-control" placeholder="Search&hellip;" ng-model="main.search" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="main.getSearchData(main.search)" class="search"><span class="glyphicon glyphicon-search"></span> Search</button>
                </span>
            </div>
            <div class="random">
                <button class="btn btn-lg btn-block btn-danger" ng-click="main.getGifsData()" class="one">Get a random gif</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="input-group col-md-6 comment-box pull-left">
                <input type="text" class="form-control" ng-model="main.comment" placeholder="Comment here&hellip;">
                <button href="#myModal" data-toggle="modal" type="button" class="btn btn-lg btn-block btn-danger" ng-click="main.favoriteGif(main.comment,main.random)"><span class="glyphicon glyphicon-heart"></span> Add to Favorites</button>
            </div>
        </div>
        <!-- <div class="col-md-6 comment-box"></div> -->
    </div>

    <div class="row" ng-class="main.class">
        <ul class="list-unstyled" ng-repeat="gif in main.searchresults">
            <li class="pull-left col-md-3" id="wrapper">
                <img class="img-responsive searched-image pull-left" ng-src="{{gif.images.downsized.url}}" />
                <div class="text-center" id="button">
                    <button href="#myModal" data-toggle="modal" ng-click="main.favoriteGif(main.search,gif.images.downsized.url)" class="btn btn-sml"><span class="glyphicon glyphicon-heart"></span> Add to Favorites</button>
                </div>

            </li>
        </ul>
    </div>

    <!-- Modal HTML Bootstrap -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>You just added a gif to your favorite list!</p>
                    <p class="text-warning"><small>You can check the favorites tab above to check your list.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</main>
