h1 {
    background-color: grey;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding:40px;
}

img{
    width:100% !important;
}

.searched-image,.image-size {
    height: 200px !important;
    margin: 10px !important;
}

body {
    padding-bottom: 150px;
    background: repeating-linear-gradient( 0deg, grey, white 40%, grey );
}

main{
    width:80% !important;
    margin: 0 auto;
}

.row {
    margin-top: 20px;
}

i {
    font-size: 200%;
}
